<!--
 Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->


    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">                       
                    <li>
                        <a routerLink="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>                        
                    </li>                   
                    <li>                        
                        <a routerLink="/currentweek"><i class="fa fa-fw fa-table"></i> Current Week Task</a>
                    </li>
                    <li>
                        <a routerLink="/nextweek"><i class="fa fa-fw fa-table"></i> Next Week Task</a>
                    </li>
                    <li>
                        <a routerLink="/viewwsr"><i class="fa fa-fw fa-table"></i> View WSR</a>
                    </li>                    
                    <li>
                        <a routerLink="/createticket"><i class="fa fa-fw fa-table"></i> Create Ticket</a>
                    </li>
                    <li>
                        <a routerLink="/viewticket"><i class="fa fa-fw fa-table"></i> View Ticket</a>
                    </li>                                      

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
            


