.createtcket-form{
  width: auto;
  height: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.topMargin{
  margin-top: 25px;
}

.topMargin_sm{
  margin-top: 15px;
}

.targetDatelbl{
  color: #999;
}

.redbg{

    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;

    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}