<div id="wrapper">
  <app-top-bar></app-top-bar>
  <div id="page-wrapper">
  <app-filter-ticket [visibleSelectOpt]="1" (selTicket)='handleEvent($event)'></app-filter-ticket> 
  <md-card class="nextweek-plan">
  <h3>Plan Ticket</h3>  
    <div class="row">
      <div class="col-md-3 topMargin">
        <md-input-container class="full-width">
          <input mdInput placeholder="From Date" [(ngModel)]="fromDt" type="date">
        </md-input-container>
      </div>
      <div class="col-md-3 topMargin">
        <md-input-container class="full-width">
          <input mdInput placeholder="To Date" [(ngModel)]="toDt" type="date">
        </md-input-container>
      </div>      
      <div class="col-md-3 topMargin">
        <md-select multiple placeholder="Task Type" [(ngModel)]="taskTypeCode" class="full-width">
          <md-option *ngFor="let task of taskType" [value]="task.task_type_id">
            {{ task.task_type_name }}
          </md-option>
        </md-select>        
      </div>
      <div class="col-md-3 topMargin">
        <md-input-container class="full-width">
          <input mdInput placeholder="Total Weeks [ Hours ]  Planned Prev" [(ngModel)]='totalWeeksHrsPlanned' disabled>
        </md-input-container>
      </div>      
    </div>  
    <div class="row">      
      <div class="col-md-3 topMargin">
        <md-input-container class="full-width">
          <input mdInput placeholder="Planned Time to Spent" [(ngModel)]="plannedTimetoSpent">
        </md-input-container>
      </div>      
      <div class="col-md-6 topMargin">
        <md-input-container class="full-width">
          <textarea mdInput placeholder="Next Week Plan" [(ngModel)]="nextWeekPlan"></textarea>
        </md-input-container>        
      </div>
      <div class="col-md-3 topMargin">
          <button md-raised-button class="full-width" (click)="addPlan()" >Update to Plan</button>
      </div>
    </div>
  </md-card>
  <md-card>
  <h4>Next Week Plan</h4>
  <div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>#Ticket ID</th>
      <th>Bike N.o - Summary</th>
      <th>From</th>
      <th>To</th>      
      <th>Hours Planned</th>
      <th>Weeks Planned</th>
      <th>TaskTypes</th>
      <th>Planned Time To Spent</th>
      <th>Next week plan</th>
      <th>Option</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let nextWeekComp of nextWeekPlanRows">
        <th>{{nextWeekComp.ticketId}}</th>
        <th>{{nextWeekComp.summary}}</th>
        <th>{{nextWeekComp.fromDt}}</th>
        <th>{{nextWeekComp.toDt}}</th>      
        <th>{{nextWeekComp.timeSpent}}</th>
        <th>{{nextWeekComp.weekSpent}}</th>
        <th>{{nextWeekComp.taskTyp}}</th>
        <th>{{nextWeekComp.plannedTime}}</th>
        <th>{{nextWeekComp.nextPlan}}</th>
        <td><span><a (click)="editWSR(nextWeekComp)">Edit</a>
        </span> | <span><a (click)="removeWSR(nextWeekComp)">Remove</a></span></td>
      </tr>
    </tbody>
  </table>  
</div>
<div class="topMargin">
    <button md-raised-button class="full-width" (click)="saveNxtWeekPlan()" >Save Next Week Plan</button>
</div>
</md-card>
  </div>
</div>

